<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Kooky Candidate</title></head>


  <body style= {{"background-color:"+background_color+";color:"+text_color}}>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">KOOKY2020</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item ">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/policies">Policies</a>
                </li>
              </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron" style="height:500px">
          <div class="row align-items-center">
            <div class="col-8 text-center">
              <h1 class="display-4">Candidate Name</h1>
              <p class="lead">catchy slogan</p>
              <h1>{{count}}</h1>
            </div>
            <div class="col-2">
              {%if  count<1 %}
              <img src="/static/candidate/picture.jpg" alt="" width="350px" height="400px"></1>
              {% elif 1<=count<5%}
              <img src="/static/candidate/picture-10.jpg" alt="" width="350px" height="400px">
              {% elif 5<=count<10%}
              <img src="/static/candidate/picture-20.jpg" alt="" width="350px" height="400px">
              {% elif 10<=count<15%}
              <img src="/static/candidate/picture-30.jpg" alt="" width="350px" height="400px">
              {% elif 15<=count<20%}
              <img src="/static/candidate/picture-40.jpg" alt="" width="350px" height="400px">
              {% elif 20<=count%}
              <img src="/static/candidate/picture-50.jpg" alt="" width="350px" height="400px">
              {% endif %}
              
            </div>
          </div>
        </div>
        {%for policy in statements%}
        <div class="jumbotron jumbotron-fluid">
          <h1 class="display-4">{{policy["title"]}}</h1>
          {%if  count<1 %}
          <p class="lead">{{policy["text"][:350]}} ...</p>
          {% elif 1<=count<5%}
          <p class="lead">{{policy["zalgo1"][:350]}} ...</p>
          {% elif 5<=count<10%}
          <p class="lead">{{policy["zalgo2"][:350]}} ...</p>
          {% elif 10<=count<15%}
          <p class="lead">{{policy["zalgo3"][:350]}} ...</p>
          {% elif 15<=count<20%}
          <p class="lead">{{policy["zalgo4"][:350]}} ...</p>
          {% elif 20<=count%}
          <p class="lead">{{policy["zalgo5"][:350]}} ...</p>
          {% endif %}
          <a href={{ "/policy/"+policy["id"] }} class="btn btn-primary float-right">Learn More</a>
        </div>
        {% endfor %}
  
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../static/counter.js"></script>
  </body>
</html>
